{{#each records}}
  <tr class="">
      <td class="">{{nombre}}</td>
      <td class="">
          <span data-index="{{id}}" data-nombre="{{nombre}}" data-descripcion="{{descripcion}}"  class="btn btn-xs btn-circle btn-warning btn-edit"><span class="fa fa-edit fw"></span></span>
          <span data-index="{{id}}" class="btn btn-xs btn-danger btn-circle btn-del"><span class="fa fa-trash fw"></span></span>
      </td>
  </tr>
{{else}}
<tr class="">
      <td colspan="2" class=""><center>No se ha encontrado ning&uacute;n equipo</center></td>
</tr>
{{/each}}





