{{#each records}}
  <tr class="">
      <td class="">{{nombre}}</td>
      <td class="">{{dni}}</td>
      <td class="">{{convertirFecha vencimiento_carnet}}</td>
      <td class="">{{convertirFecha vencimiento_seguro}}</td>
      <td class="">
          <span data-index="{{id}}" data-nombre="{{nombre}}" data-dni="{{dni}}" data-vencimiento_carnet="{{vencimiento_carnet}}" data-vencimiento_seguro="{{vencimiento_seguro}}"  data-vencimiento_carnet_defensivo = "{{vencimiento_carnet_defensivo}}" data-vencimiento_credencial_ipf = "{{vencimiento_credencial_ipf}}" data-rsv_presentado = "{{rsv_presentado}}"  class="btn btn-xs btn-circle btn-warning btn-edit"><span class="fa fa-edit fw"></span></span>
          <span data-index="{{id}}" class="btn btn-xs btn-danger btn-circle btn-del"><span class="fa fa-trash fw"></span></span>
      </td>
  </tr>
{{/each}}





