{{#each records}}
  <tr class="">
      <td class="">{{dominio}}</td>
      <td class="">{{convertirFecha vencimiento_vtv}}</td>
      <td class="">{{seguro}}</td>
      <td class="">{{poliza}}</td>
      <td class="">{{convertirFecha vencimiento_poliza}}</td>
      <td class="">{{rsv}}</td>
      <td class="">
          <span data-index="{{id}}" data-dominio="{{dominio}}" data-vencimiento_vtv="{{vencimiento_vtv}}" data-seguro="{{seguro}}" data-poliza="{{poliza}}" data-vencimiento_poliza="{{vencimiento_poliza}}" data-rsv="{{rsv}}" data-numero_titulo = "{{numero_titulo}}" data-vencimiento_cedula = "{{vencimiento_cedula}}" data-modelo = "{{modelo}}" data-seguro_xantrax = "{{seguro_xantrax}}" data-servicio_mantenimiento = "{{servicio_mantenimiento}}" data-servicio_fecha = "{{servicio_fecha}}" data-servicio_xantrax = "{{servicio_xantrax}}" class="btn btn-xs btn-circle btn-warning btn-edit"><span class="fa fa-edit fw"></span></span>
          <span data-index="{{id}}" class="btn btn-xs btn-danger btn-circle btn-del"><span class="fa fa-trash fw"></span></span>
      </td>
  </tr>
{{/each}}







