<div class="row">
  <div class="col-md-12">
    <form class="form-vertical">
      <input id="id" name="id" type="hidden" class="" value="{{id}}" >
      <div class="form-group">
        <label class="col-md-4 control-label" for="dominio">Dominio:</label>
        <div class="col-md-8">
        <input id="dominio" name="dominio" type="text" class="form-control input-md" value="{{dominio}}">
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="vencimiento_vtv">Vencimiento vtv: </label>
        <div class="col-md-8">
        <input id="vencimiento_vtv" name="vencimiento_vtv" type="text" class="form-control input-md date-picker" value="{{vencimiento_vtv}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="seguro">Seguro:</label>
        <div class="col-md-8">
        <input id="seguro" name="seguro" type="text" class="form-control input-md" value="{{seguro}}">
     </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="poliza">Poliza:</label>
        <div class="col-md-8">
        <input id="poliza" name="poliza" type="text" class="form-control input-md" value="{{poliza}}">
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="vencimiento_poliza">Vencimiento Poliza: </label>
        <div class="col-md-8">
        <input id="vencimiento_poliza" name="vencimiento_poliza" type="text" class="form-control input-md date-picker" value="{{vencimiento_poliza}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="rsv">RSV:</label>
        <div class="col-md-8">
          <input id="rsv" name="rsv" type="text" class="form-control input-md" value="{{rsv}}">
        </div>
     </div>


     <div class="form-group">
        <label class="col-md-4 control-label" for="numero_titulo">N&uacute;mero t&iacute;tulo:</label>
        <div class="col-md-8">
          <input id="numero_titulo" name="numero_titulo" type="text" class="form-control input-md" value="{{numero_titulo}}">
        </div>
     </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="vencimiento_cedula">Vencimiento Cedula: </label>
        <div class="col-md-8">
        <input id="vencimiento_cedula" name="vencimiento_cedula" type="text" class="form-control input-md date-picker" value="{{vencimiento_cedula}}">
        </div>
      </div>
     <div class="form-group">
        <label class="col-md-4 control-label" for="modelo">Modelo:</label>
        <div class="col-md-8">
          <input id="modelo" name="modelo" type="text" class="form-control input-md" value="{{modelo}}">
        </div>
     </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="seguro_xantrax">Seguro XANTRAX:</label>
        <!-- <div class="col-md-8"> -->
          <input id="seguro_xantrax" name="seguro_xantrax" type="checkbox" class="" value="{{seguro_xantrax}}" {{#if seguro_xantrax}} checked {{/if}}>
        <!-- </div> -->
     </div>
     <div class="form-group">
        <label class="col-md-4 control-label" for="servicio_mantenimiento">Servicio Mantenimiento:</label>
        <!-- <div class="col-md-8"> -->
          <input id="servicio_mantenimiento" name="servicio_mantenimiento" type="checkbox" class="" value="{{servicio_mantenimiento}}" {{#if servicio_mantenimiento}} checked {{/if}}>
        <!-- </div> -->
     </div>
     <div class="form-group">
        <label class="col-md-4 control-label" for="servicio_fecha">Servicio Fecha: </label>
        <div class="col-md-8">
        <input id="servicio_fecha" name="servicio_fecha" type="text" class="form-control input-md date-picker" value="{{servicio_fecha}}" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="servicio_xantrax">Servicio XANTRAX:</label>
        <!-- <div class="col-md-8"> -->
          <input id="servicio_xantrax" name="servicio_xantrax" type="checkbox" class="" value="{{servicio_xantrax}}" {{#if servicio_xantrax}} checked {{/if}}>
        <!-- </div>-->
     </div>
  </form>
  </div>
</div>